{% extends 'base.html' %}

{% block content %}

<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form action="{% url 'account_logout' %}" method="post"  class="box">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
              {% endif %}
              <div class="box has-text-centered">
                  <p>Бажаєте вийти?</p>
                  <button type="submit" class="button is-danger has-text-centered">Вийти</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}