{% extends 'base.html' %}

{% block content %}
<h1 class="has-text-centered has-text-weight-bold is-size-1">Редактировать пост</h1>
<!--<form method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="save" class="button">-->
<!--</form>-->

<div class="container content-box">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="field">
        <label class="label">Название</label>
        <input type="text" class="input" {{ form.title }}
    </div>

    <div class="field">
        <label class="label">Загрузите медиафайл</label>
        <input type="file" class="input" {{ form.file }}
    </div>

    <div class="field">
        <label class="label">Описание</label>
        <textarea class="textarea" {{ form.description}}</textarea>
    </div>

    <input type="submit" value="Сохранить" class="button">
</form>
</div>




{% endblock content %}