{% load static %}
<header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">

          <a class="navbar-brand" href="{% url 'main_page' %}">

          <a class="navbar-brand" href="{% url 'main_page'%}">

            <img src="{% static 'logo.png' %}" alt="" />
            <span>
              MONXSENSE
            </span>
          </a>
          <div class="navbar-collapse" id="">
            <div class="container">
              <div class=" mr-auto flex-column flex-lg-row align-items-center">
                <ul class="navbar-nav justify-content-between ">
                    {% if not user.is_authenticated %}
                  <div class="User_option">
                    <li class="">
                      <a class="" href="{% url 'account_login' %}">
                        Login
                      </a>
                    </li>
                    <form class="form-inline my-2 ml-5 mb-3 mb-lg-0">
                      <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                  </div>
                </ul>
              </div>
            </div>
                    {% else %}
              <div class="User_option">
                    <li class="">
                      <a class="" href="{% url 'account_logout' %}">
                          Log Out
                      </a>
                    </li>
                    <form class="form-inline my-2 ml-5 mb-3 mb-lg-0">
                      <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                  </div>
                </ul>
              </div>
            </div>
                    {% endif %}
            <div class="custom_menu-btn">
              <button onclick="openNav()">
                <span class="s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">

                <a href="{% url 'main_page' %}">HOME</a>
                <a href="service.html">SERVICES</a>
                <a href="team.html">TEAM</a>
                <a href="{% url 'post_list' %}">Gallery</a>
                <a href="">CONTACT US</a>
              </div>
            </div>
          </div>
        </nav>
      </div>

    </header>

    </header>
